@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700;900&display=swap");
body {
  font-family: 'Noto Sans JP', sans-serif;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header {
  height: 70px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 200;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header > .container {
  height: 100%;
}

.header_logo {
  width: 200px;
}

.header_nav li {
  font-weight: 500;
  margin-left: 30px;
  position: relative;
  cursor: pointer;
}

.header_nav li:first-child {
  margin-left: 0;
}

.header_nav li::after {
  position: absolute;
  content: "";
  width: 0;
  height: 2px;
  background-color: #d80c18;
  top: calc(100% + 3px);
  left: 0;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.header_nav li:hover::after, .header_nav li.active::after {
  width: 100%;
}

.header.active {
  background-color: #fff;
}

main {
  padding-top: 70px;
  overflow: hidden;
}

.container {
  padding-left: 20px;
  padding-right: 20px;
}

.title-common {
  font-size: 36px;
  letter-spacing: 0.05em;
  font-weight: 600;
}

.title-en {
  font-family: trajan-pro-3, serif;
  color: #ffebeb;
  font-size: 120px;
  margin: 0;
}

.kv {
  padding-top: 10vw;
  position: relative;
}

.kv h2 {
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.04em;
  line-height: 1.7;
  margin-bottom: 20px;
}

.kv h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 1.7;
  margin-bottom: 5px;
}

.kv h1 > div {
  display: inline-block;
}

.kv h1 small {
  font-size: 20px;
  -webkit-transform: translateY(10px);
          transform: translateY(10px);
}

.kv h1 br.xs-show {
  display: none;
}

.kv p {
  font-size: 13px;
  font-weight: 600;
  line-height: 1.7;
  letter-spacing: 0.04em;
  margin-bottom: 40px;
}

.kv_btn {
  width: 280px;
  margin-bottom: 25px;
}

.kv_brand img {
  width: 35px;
  margin-right: 10px;
}

.kv_brand span {
  font-size: 13px;
  font-weight: 600;
}

.kv_scrolldown {
  margin: -20px auto 0;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
  cursor: pointer;
}

.kv_scrolldown_text {
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  padding: 5px;
  background-color: #fff;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: scroll 0.8s ease-in-out infinite alternate;
          animation: scroll 0.8s ease-in-out infinite alternate;
}

.kv_scrolldown_line {
  width: 1px;
  height: 160px;
  background-color: #000;
}

.kv_bg_main {
  position: absolute;
  width: 42.76vw;
  top: -70px;
  z-index: -1;
  right: 0;
}

.kv_square {
  position: absolute;
  -webkit-animation: 2s ease-in-out infinite alternate;
          animation: 2s ease-in-out infinite alternate;
  opacity: 0.8;
}

.kv_square-1 {
  width: 9.74vw;
  right: 11.51vw;
  top: 25vw;
  -webkit-animation-name: kvSquareLand1;
          animation-name: kvSquareLand1;
}

.kv_square-2 {
  width: 4.84vw;
  top: 3.95vw;
  right: 7.49vw;
  -webkit-animation-name: kvSquareLand2;
          animation-name: kvSquareLand2;
}

.kv_square-3 {
  width: 1.4vw;
  top: 7.47vw;
  right: 2.28vw;
  opacity: 0.8;
  -webkit-animation-name: kvSquareLand1;
          animation-name: kvSquareLand1;
}

.kv_square-4 {
  width: 2.97vw;
  top: 27.26vw;
  right: 32.6vw;
  -webkit-animation-name: kvSquareLand2;
          animation-name: kvSquareLand2;
}

.kv_square-5 {
  width: 1.4vw;
  top: 25vw;
  right: 36.3vw;
  opacity: 0.8;
  -webkit-animation-name: kvSquareLand1;
          animation-name: kvSquareLand1;
}

@-webkit-keyframes scroll {
  0% {
    top: 10%;
  }
  100% {
    top: 35%;
  }
}

@keyframes scroll {
  0% {
    top: 10%;
  }
  100% {
    top: 35%;
  }
}

@-webkit-keyframes kvSquare {
  0% {
    -webkit-transform: translateY(100px) rotate(45deg);
            transform: translateY(100px) rotate(45deg);
  }
  30% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes kvSquare {
  0% {
    -webkit-transform: translateY(100px) rotate(45deg);
            transform: translateY(100px) rotate(45deg);
  }
  30% {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes kvSquareLand1 {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@keyframes kvSquareLand1 {
  0% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
  100% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
}

@-webkit-keyframes kvSquareLand2 {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

@keyframes kvSquareLand2 {
  0% {
    -webkit-transform: translateY(15px);
            transform: translateY(15px);
  }
  100% {
    -webkit-transform: translateY(-15px);
            transform: translateY(-15px);
  }
}

.trouble {
  padding: 4.77vw 0 15vw;
  position: relative;
  background-image: url(../img/trouble_bg.png);
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
}

.trouble_bg-square {
  width: 61.82vw;
  margin: 0 auto;
  display: block;
}

.trouble_title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 28vw;
}

.trouble_title h3 {
  font-size: 36px;
  font-weight: normal;
  margin-bottom: 13px;
}

.trouble_title h3 > div {
  display: inline-block;
}

.trouble_title h2 {
  font-size: 52px;
  font-weight: bold;
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  background-image: url(../img/trouble_line.png);
  background-position: 0 bottom;
  background-size: 90%;
  background-repeat: no-repeat;
}

.trouble_title h2 > div {
  display: inline-block;
}

.trouble_title h2::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 15px;
  background-color: #ffbcbc;
  position: absolute;
  bottom: -1px;
  left: 0;
  z-index: -1;
}

.trouble_item {
  position: absolute;
}

.trouble_item-1 {
  width: 14vw;
  top: 19vw;
  left: 26.71vw;
}

.trouble_item-2 {
  width: 11.98vw;
  top: 11.04vw;
  left: 35vw;
}

.trouble_item-3 {
  width: 4.48vw;
  top: 18.34vw;
  left: 45.58vw;
}

.trouble_item-4 {
  width: 5.16vw;
  top: 8.89vw;
  left: 48.9vw;
}

.trouble_item-5 {
  width: 9.01vw;
  top: 18.95vw;
  left: 51.46vw;
}

.trouble_item-6 {
  width: 6.88vw;
  top: 12.21vw;
  left: 60.46vw;
}

.trouble_item-7 {
  width: 8.44vw;
  top: 21.99vw;
  left: 61.57vw;
}

.trouble_item-8 {
  width: 13.65vw;
  top: 47.04vw;
  left: 33.72vw;
}

.trouble_item-9 {
  width: 9.01vw;
  top: 39.6vw;
  left: 38.6vw;
}

.trouble_item-10 {
  width: 11.3vw;
  top: 41.2vw;
  left: 49.43vw;
}

.trouble_item-11 {
  width: 13.96vw;
  top: 53.29vw;
  left: 56.55vw;
}

.feature {
  padding: 60px 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

.feature_title {
  text-align: center;
  position: relative;
}

.feature_title_ch {
  position: absolute;
  top: 25%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 100%;
}

.feature_title_ch h3 {
  font-size: 100px;
}

.feature_title_ch h4 {
  font-size: 28px;
  font-weight: normal;
}

.feature_title_ch h5 {
  font-size: 56px;
  font-weight: 600;
  color: #d80c18;
}

.feature_title_ch h5 span {
  font-size: 36px;
  color: #000;
}

.feature_title_ch h2 {
  font-size: 42px;
  font-weight: 600;
}

.feature_content {
  width: 100%;
  max-width: 1050px;
  margin: 150px auto 100px;
}

.feature_item {
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url(../img/feature-circle.png);
  background-size: 35%;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.feature_itemBox {
  padding: 350px 0 200px;
}

.feature_itemBox:nth-child(1) {
  padding-top: 0;
}

.feature_itemBox:nth-child(even) .feature_item {
  background-image: url(../img/feature-circle-2.png);
  background-position: right 0;
}

.feature_itemBox:nth-child(even) .feature_item_pic {
  -webkit-box-ordinal-group: 3;
      -ms-flex-order: 2;
          order: 2;
}

.feature_itemBox:nth-child(even) .feature_item_text {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.feature_itemBox#feat-expe .feature_item_pic img {
  width: 80%;
  top: 13%;
  left: 25%;
}

.feature_itemBox#feat-atte .feature_item_pic img {
  width: 100%;
  top: 13%;
  right: 10%;
}

.feature_itemBox#feat-belo .feature_item_pic img {
  width: 90%;
  top: 13%;
  left: 10%;
}

.feature_itemBox#feat-work .feature_item_pic img {
  width: 90%;
  top: 13%;
  right: 10%;
}

.feature_itemBox#feat-fee .feature_item_pic img {
  width: 65%;
  top: 13%;
  left: 35%;
}

.feature_item_pic {
  width: 40%;
  position: relative;
  padding-bottom: 40%;
}

.feature_item_pic img {
  position: absolute;
}

.feature_item_text {
  width: 60%;
  padding-left: 60px;
  padding-right: 20px;
}

.feature_item_text h6 {
  font-size: 36px;
  font-weight: bold;
  margin-bottom: 30px;
}

.feature_item_text p {
  font-size: 13px;
  font-weight: 600;
}

.feature.bg1 {
  background-image: url(../img/feature-bg-2.png), url(../img/feature-bg-1.png);
  background-position: 0 bottom, right 0;
  background-size: 26.61vw, 32.07vw;
}

.feature.bg2 {
  background-image: url(../img/feature-bg-3.png), url(../img/feature-bg-4.png);
  background-position: 0 0, right bottom;
  background-size: 32.07vw, 26.61vw;
}

.work {
  padding-top: 100px;
  background-image: url(../img/works_bg.png);
  background-position: center center;
  background-repeat: no-repeat;
}

.work_title {
  text-align: center;
  position: relative;
  z-index: -1;
}

.work_title h2 {
  position: absolute;
  top: -1%;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.work_content {
  width: 100%;
  max-width: 1050px;
  margin: -70px auto 0;
}

.work_content .row {
  margin: 0;
}

.work_content .row > div {
  padding-left: 25px;
  padding-right: 25px;
}

.work_content .row > div:nth-child(2) {
  margin-top: 100px;
}

.work_content .btn-more {
  display: block;
  margin: 100px auto 0;
  color: #d80c18;
  background-color: transparent;
  border: 0;
  font-size: 18px;
  font-weight: 500;
}

.work_item {
  z-index: 100;
  position: relative;
  margin-bottom: 30px;
}

.work_item img {
  width: 100%;
}

.work_item p {
  position: absolute;
  -webkit-writing-mode: vertical-lr;
      -ms-writing-mode: tb-lr;
          writing-mode: vertical-lr;
  margin: 0;
  top: 0;
  right: calc(100% + 5px);
  font-weight: 600;
}

.work_item-hide {
  display: none;
}

.work_btn {
  margin-bottom: 150px;
}

@media screen and (max-width: 1200px) {
  .trouble_title h2 {
    font-size: 40px;
  }
  .trouble_title h3 {
    font-size: 30px;
  }
}

@media screen and (max-width: 991px) {
  .trouble_title {
    top: 27vw;
  }
  .trouble_title h2 {
    font-size: 36px;
  }
  .trouble_title h3 {
    font-size: 26px;
  }
}

@media screen and (max-width: 767px) {
  .header {
    height: 60px;
  }
  .header_logo {
    width: 180px;
  }
  .kv h1 {
    font-size: 32px;
    line-height: 1.5;
  }
  .kv h2 {
    margin-bottom: 15px;
  }
  .kv_square-1 {
    width: 23.29vw;
    top: 52.22vw;
    right: -10.7vw;
  }
  .kv_square-2 {
    width: 11.58vw;
    top: -0.87vw;
    right: -7.35vw;
  }
  .kv_square-3 {
    display: none;
  }
  .kv_square-4 {
    width: 7.1vw;
    top: 20vw;
    right: 20vw;
  }
  .kv_square-5 {
    width: 3.36vw;
    top: 15vw;
    right: 30vw;
  }
  .kv_scrolldown {
    margin-top: 30px;
  }
  .trouble {
    padding-bottom: 245vw;
    background-image: url(../img/trouble-bg-m.png);
  }
  .trouble_title {
    top: 87vw;
  }
  .trouble_title h2 {
    font-size: 56px;
    background-image: url(../img/trouble-line-1-m.png), url(../img/trouble-line-2-m.png);
    background-position: center 40%, center bottom;
    background-size: 95%, 100%;
    background-repeat: no-repeat;
  }
  .trouble_title h3 {
    font-size: 36px;
  }
  .trouble_item-1 {
    width: 38.48vw;
    top: 34.19vw;
    left: 7.58vw;
  }
  .trouble_item-2 {
    width: 33vw;
    top: 13.92vw;
    left: 19.48vw;
  }
  .trouble_item-3 {
    width: 12.33vw;
    top: 43.58vw;
    left: 48.21vw;
  }
  .trouble_item-4 {
    width: 14.07vw;
    top: 8.7vw;
    left: 56.39vw;
  }
  .trouble_item-5 {
    width: 24.78vw;
    top: 61.98vw;
    left: 36.8vw;
  }
  .trouble_item-6 {
    width: 19.05vw;
    top: 23.99vw;
    left: 69.25vw;
  }
  .trouble_item-7 {
    width: 23.16vw;
    top: 53.5vw;
    left: 66.52vw;
  }
  .trouble_item-8 {
    width: 37.48vw;
    top: 159.8vw;
    left: 9.43vw;
  }
  .trouble_item-9 {
    width: 24.66vw;
    top: 134.15vw;
    left: 18.19vw;
  }
  .trouble_item-10 {
    width: 31vw;
    top: 141.2vw;
    left: 48.1vw;
  }
  .trouble_item-11 {
    width: 38.36vw;
    top: 175.96vw;
    left: 51.3vw;
  }
}

@media screen and (max-width: 575px) {
  .kv {
    padding-top: 20vw;
  }
  .kv_bg_main {
    width: 59.53vw;
  }
  .kv_square-4 {
    top: 36.59vw;
    right: 41.49vw;
  }
  .kv_square-5 {
    top: 30.78vw;
    right: 50.29vw;
  }
  .kv h1 {
    font-size: 28px;
  }
  .kv h2 {
    font-size: 16px;
  }
  .trouble h2 {
    font-size: 46px;
  }
  .trouble h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 400px) {
  .kv h1 br.xs-show {
    display: block;
  }
  .kv_btn {
    width: 200px;
  }
  .trouble h2 {
    font-size: 36px;
  }
  .trouble h3 {
    font-size: 22px;
  }
}
/*# sourceMappingURL=style.css.map */